// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//variáveis personalizadas
:root{
    --dn-bg-color: #abcdef;
    --dn-fg-color: #FFF9FB;
    --dn-border-color: #007b91;
    --dn-body-color: #252627;
    --dn-btn-aviso-bg-color: #D3D4D9;
    --dn-btn-aviso-hover-color: #FFF9FB;
    --dn-form-bg-color: black;
}
